.DS_Store

brc20/*.json
brc20/__pycache__

okx-api/js/node_modules
okx-api/js/package-lock.json
okx-api/js/brc20tokenlist.json
okx-api/js/config-okx.json

okx-api/python/__pycache__
okx-api/python/*.json

test-data/js/accounts.json
test-data/js/brc20tokenlist.json
test-data/js/config.json
test-data/js/package-lock.json

test-data/python/__pycache__
test-data/python/*.json